<%- include('header') %>

<div class="box" id="heading">
  <h1>Manage Lists</h1>
  <%- include('authstatus') %>
</div>


<div class="box listContainer" style="height:400px; padding-top: 8px;">

  <table style="width:100%; font-size: large;">

    <!-- the below part will also have to be replicated by the javascript functions -->
    <% for( let index = 0; index < ItemArray.length; index++ ) { %>

    <tr style="height: 1rem;">
      <td style="font-size: x-large;">
        <%= ItemArray[index].ListName %>
      </td>
      <td style="text-align: right; padding-right: 0.8rem;">
        <form action="/lists/deletelist" method="get">
          <button name="listName" type="submit" style="border-radius: 5%; width: auto; font-size: large;" value="<%= ItemArray[index].ListName %>">
            Delete
          </button>
          <button type="button" style="border-radius: 5%; width: auto; font-size: large;" onclick=" window.location.href = '/lists/<%= ItemArray[index].ListName %>'">
            Access
          </button>
        </form>
      </td>
    </tr>

    <% } %>
  </table>

</div>


<div class="box addingTask" style="border-top-width: 0.2rem; border-top-color: black; border-top-style: solid;">
  <form action="" method="get" class="item" id="listcreateform">

    <input class="textbox" id='newlistname' type="text" name="task" placeholder="New List" autocomplete="off">
    <button type="submit" name="list" onclick="document.getElementById('listcreateform').setAttribute('action', '/lists/'+document.getElementById('newlistname').value )">+</button>

  </form>
</div>


<script>
  let x = document.querySelector(".textbox")
  x.addEventListener("focus", () => {
    x.placeholder = ''
  })
  x.addEventListener("focusout", () => {
    x.placeholder = 'New Task'
  })

  // let z = document.querySelector(".listContainer")
  // z.addEventListener("mouseover", () => {
  //   z.style.overflowY = 'scroll'
  // })
  // z.addEventListener("mouseout", () => {
  //   z.style.overflowY = 'hidden';
  // })
</script>

<!-- <script>

  fetch("/accounts/googlelogin/querylogin").then((res) => {
    console.log('res from querylogin: ' + res);
    res.json().then((responseJSON) => {
      if (!(responseJSON.isLoggedIn)) {
        // if the user is not logged in, invoke the localstorage apis.
        // if the localstorage has some content, and then the user clicks on the login button, then
        // notify the user that their content will be wiped if the login is successful.

        // localstorage list key naming scheme - list<serial number 1...n>
        // localstorage list value's value - the list name

        // localstorage task key naming scheme - task<serial number 1...n>
        // localstorage task value's value - the task name

        // this file will only manage the lists, and not the tasks. The tasks will be managed in the list.ejs file.

        // will have to attach javascript functions to buttons/form elements to handle the addition/deletion of lists.

        let listCount = 0;

        // now count the number of lists
        for (let i = 0; i < localStorage.length; i++) {
          if (localStorage.key(i).includes('list')) {
            listCount++;
          }
        }

        // now display the lists
        // we will have to replicate the list display part of the ejs file here
        // then iterate over the localstorage to display the lists
        

      }
    })
  }).catch((err) => {
    console.log("some error");
  })
</script> -->

<%- include('footer') %>

<div style="text-align: center;">
  <a href="/about">About</a>
  </form>
</div>